$primaryDark: #010101;
$primaryBlue: #3E50B4;

* {
    padding: 0; margin: 0; border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    background-color: $primaryDark;
    overflow-x: hidden; // Prevents x-axis overflow from event cards being translated out of html div. Cards are translated for slide-in effect on small screens.
}

.hr {
    display: block;
    margin: auto;
    border-top: 1px solid $primaryBlue;
    width: 75%;
    @media only screen and (max-width: 600px) {
        width: 90%;
    }
}

#banner {
    min-height: 500px;
    background-color: $primaryDark;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "portrait description";
    padding: 25px 50px 25px 50px;
    @media only screen and (max-width: 1024px) {
        padding: 25px 25px 0 25px;
    }
    @media only screen and (max-width: 780px) {
        padding: 25px 0 0 25px;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "portrait"
        "description";
    }

    #particles-js {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0; left: 0;
    }

    .portrait {
        grid-area: portrait;
        position: relative;
        min-height: 300px;
        pointer-events: none; // Allows ParticlesJS mouse onhover interactivity to work through image.
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            max-width: 90%;
            max-height: 75%;
            @media only screen and (max-width: 780px) {
                display: block;
                margin: auto;
                max-height: 100%;
            }
        }
    }

    .description {
        grid-area: description;
        margin-left: 10px;
        margin-right: 20px;
        @media only screen and (max-width: 780px) {
            text-align: center;
            margin-bottom: 20px;
        }
        h1 {
            font-family: "Roboto Slab", serif;
            font-size: 48px;
            @media only screen and (max-width: 768px) {
                font-size: 36px;
            }
        }
        p {
            font-family: "Roboto Slab", serif;
            margin: 1em 0 1em 0;
        }
    }

}

#timelineContainer {
    background-color: $primaryDark;
    background-image: linear-gradient($primaryDark, #004e92, $primaryDark);
    position: relative;

    .timeline {
        position: absolute;
        left: 50%;
        top: 90px;
        margin-top: 10px;
        height: calc(100% - 150px);
        width: 8px;
        background-color: white;
        border-radius: 5px 5px 5px 5px;
    }

    #yearBorn {
        text-align: center;
        color: white;
        .year {
            font-size: 26px;
            font-family: "Roboto Slab", serif;
        }
        p {
            font-size: 18px;
            font-family: "Roboto Slab", serif;
            font-weight: 400;
            margin: 0;
        }
        
    }

    .timelineRow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "eventLeft ."
        ". eventRight";
        @media only screen and (max-width: 780px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
            "eventLeft"
            "eventRight";
        }

    }

    .cardTriangle {
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-top: 21px solid transparent;
        border-bottom: 21px solid transparent;

        &.triangleRight {
            border-left: 21px solid $primaryBlue;
            right: -21px;
            @media only screen and (max-width: 780px) {
                margin-left: auto;
                margin-right: auto;
                left: 8px; // Timeline width.
                right: 0;
                top: -31px; // Half of card-title (21px) and cardTriangle heights (10px rounded down) to place base of triangle on top of card-title.
                transform: rotate(-90deg);
            }
        }
        &.triangleLeft {
            border-right: 21px solid $primaryBlue;
            left: -21px;
            @media only screen and (max-width: 780px) {
                margin-left: auto;
                margin-right: auto;
                left: 8px; // Timeline width.
                right: 0;
                top: -31px; // Half of card-title (21px) and cardTriangle heights (10px rounded down) to place base of triangle on top of card-title.
                transform: rotate(90deg);
            }
        }
    }

    .eventContainer {
        width: 65%;
        margin: 25px;
        margin-top: 45px;
        position: relative;
        @media only screen and (max-width: 780px) {
            margin-top: 150px;
        }
        @media only screen and (max-width: 600px) {
            width: 90%;
        }

        &.eventLeft {
            grid-area: eventLeft;
            margin-left: auto;
            margin-right: 60px;
            @media only screen and (max-width: 780px) {
                margin-right: auto;
            }
            .card {
                transform: translateX(-10%);
            }
        }
        &.eventRight {
            grid-area: eventRight;
            margin-right: auto;
            margin-left: 68px; // 60 + the 8px of the timeline, to be symmetrical with eventLeft.
            @media only screen and (max-width: 780px) {
                margin-left: auto;
            }
            .card {
                transform: translateX(10%);
            }
        }

        .card {
            margin: 0;
            opacity: 0;
            &.fade-in {
                opacity: 1;
                transition: opacity .75s ease, box-shadow .25s ease;
                animation: slide-in .75s forwards;
                @keyframes slide-in {
                    100% { transform: (translateX(0%)) }
                }
                @media only screen and (max-width: 780px) {
                    transform: translateY(10%);
                }
            }
        }

        .cardYear {
            position: absolute;
            width: 75px;
            height: 75px;
            top: -15px; // Half of card-title height, centers year with the cardTriangle.
            text-align: center;
            font-size: 26px;
            font-weight: 300;
            color: white;
            border: 4px solid white;
            border-radius: 50%;
            background-color: $primaryDark;

            &.yearRight {
                right: -101px; // 43px from triangle width and 68px from eventContainer margin.
            }
            &.yearLeft {
                left: -101px;
            }

            &.yearRight, &.yearLeft {
                @media only screen and (max-width: 780px) {
                    margin-left: auto;
                    margin-right: auto;
                    left: 8px; // Timeline width.
                    right: 0;
                    top: -100px; // Negative height of cardYear (75px) - cardTriangle (21px) - 4 extra px for spacing.
                }
            }
    
            p {
                font-family: "Roboto Slab", serif;
                font-size: 26px;
                line-height: 67px; // cardYear height minus 4px border.
                margin: 0 2px 0 0; // Centers the year that always starts with "1" as the font is not monospace.
            }

        }

        .card-content {
            padding: 0;
            .card-title {
                position: relative;
                background-color: $primaryBlue;
                font-family: "Roboto Slab", serif;
                padding: 5px;
                margin: 0;
                text-align: center;
                color: white;
            }
            .cardText {
                padding: 5px;
                p {
                    padding: 10px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            .expandable {
                max-height: 0px;
                overflow: hidden;
                opacity: 0;
                transition: max-height .5s, opacity, .5s;
                &.collapsed {
                    max-height: 0;
                }
                ul {
                    padding-left: 40px;
                    li {
                        list-style-type: circle;
                    }
                }
                &.chart {
                    opacity: 1;
                    canvas {
                       margin: 10px 0 10px 0;
                    }
                }
            }
            
            .expandStatsButton {
                margin: 0 auto 10px 10px;
                background-color: $primaryBlue;
            }
            
        }

    }

}

#furtherReading {
    background-color: $primaryDark;
    color: white;
    font-family: "Roboto Slab", serif;
    text-align: center;
    width: 50%;
    margin: 50px auto 50px auto;
    @media only screen and (max-width: 1024px) {
        width: 75%;
    }
    @media only screen and (max-width: 600px) {
        width: 90%;
    }
    p {
        font-family: "Roboto Slab", serif;
        margin-bottom: 10px;
    }
    a {
        position: relative;
        color: white;
        font-family: "Roboto";
        font-weight: 300;
        
        $duration: .2s;
        $distance: 8px;
        $easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0; right: 0;
            height: 2px;
            background-color: $primaryBlue;
        }
        &:before {
            opacity: 0;
            transform: translateY(- $distance);
            transition: transform 0s $easeOutBack, opacity 0s;
        }
        &:after {
            opacity: 0;
            transform: translateY($distance/2);
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:hover,
        &:focus {
            &:before,
            &:after {
                opacity: 1;
                transform: translateY(0);
            }
            &:before {
                transition: transform $duration $easeOutBack, opacity $duration;
            }
            &:after {
                transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
            }
        }
    }

    #footer {
        span {
            font-family: "Roboto Slab", serif;
        }
    }

}