* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "roboto";
}

html {
  background-color: #010101;
  overflow-x: hidden;
}

.hr {
  display: block;
  margin: auto;
  border-top: 1px solid #3E50B4;
  width: 75%;
}

@media only screen and (max-width: 600px) {
  .hr {
    width: 90%;
  }
}

#banner {
  height: 75vh;
  min-height: 500px;
  background-color: #010101;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "portrait description";
  padding: 25px 50px 25px 50px;
}

@media only screen and (max-width: 1024px) {
  #banner {
    padding: 25px 25px 0 25px;
  }
}

@media only screen and (max-width: 780px) {
  #banner {
    padding: 25px 0 0 25px;
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "portrait" "description";
  }
}

#banner .portrait {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: portrait;
  position: relative;
  min-height: 300px;
}

#banner .portrait img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto 20px auto auto;
  max-width: 90%;
  max-height: 75%;
}

@media only screen and (max-width: 780px) {
  #banner .portrait img {
    display: block;
    margin: auto;
    max-height: 100%;
  }
}

#banner .description {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: description;
  margin-left: 10px;
  margin-right: 20px;
}

@media only screen and (max-width: 780px) {
  #banner .description {
    text-align: center;
    margin-bottom: 20px;
  }
}

#banner .description h1 {
  font-family: "Roboto Slab";
  font-size: 48px;
}

@media only screen and (max-width: 768px) {
  #banner .description h1 {
    font-size: 36px;
  }
}

#banner .description p {
  font-family: "Roboto Slab";
  margin: 1em 0 1em 0;
}

#timelineContainer {
  background-color: #010101;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#010101), color-stop(#004e92), to(#010101));
  background-image: linear-gradient(#010101, #004e92, #010101);
  position: relative;
}

#timelineContainer .timeline {
  position: absolute;
  left: 50%;
  top: 90px;
  margin-top: 10px;
  height: calc(100% - 150px);
  width: 8px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}

#timelineContainer #yearBorn {
  text-align: center;
  color: white;
}

#timelineContainer #yearBorn .year {
  font-size: 26px;
  font-family: "Roboto Slab";
}

#timelineContainer #yearBorn p {
  font-size: 18px;
  font-family: "Roboto Slab";
  font-weight: 400;
  margin: 0;
}

#timelineContainer .timelineRow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "eventLeft ." ". eventRight";
}

@media only screen and (max-width: 780px) {
  #timelineContainer .timelineRow {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "eventLeft" "eventRight";
  }
}

#timelineContainer .cardTriangle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
}

#timelineContainer .cardTriangle.triangleRight {
  border-left: 21px solid #3E50B4;
  right: -21px;
}

@media only screen and (max-width: 780px) {
  #timelineContainer .cardTriangle.triangleRight {
    margin-left: auto;
    margin-right: auto;
    left: 8px;
    right: 0;
    top: -31px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

#timelineContainer .cardTriangle.triangleLeft {
  border-right: 21px solid #3E50B4;
  left: -21px;
}

@media only screen and (max-width: 780px) {
  #timelineContainer .cardTriangle.triangleLeft {
    margin-left: auto;
    margin-right: auto;
    left: 8px;
    right: 0;
    top: -31px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

#timelineContainer .eventContainer {
  width: 65%;
  margin: 25px;
  margin-top: 45px;
  position: relative;
}

@media only screen and (max-width: 780px) {
  #timelineContainer .eventContainer {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 600px) {
  #timelineContainer .eventContainer {
    width: 90%;
  }
}

#timelineContainer .eventContainer.eventLeft {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: eventLeft;
  margin-left: auto;
  margin-right: 60px;
}

@media only screen and (max-width: 780px) {
  #timelineContainer .eventContainer.eventLeft {
    margin-right: auto;
  }
}

#timelineContainer .eventContainer.eventLeft .card {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

#timelineContainer .eventContainer.eventRight {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: eventRight;
  margin-right: auto;
  margin-left: 68px;
}

@media only screen and (max-width: 780px) {
  #timelineContainer .eventContainer.eventRight {
    margin-left: auto;
  }
}

#timelineContainer .eventContainer.eventRight .card {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

#timelineContainer .eventContainer .card {
  margin: 0;
  opacity: 0;
}

#timelineContainer .eventContainer .card.fade-in {
  opacity: 1;
  -webkit-transition: opacity .75s ease, -webkit-box-shadow .25s ease;
  transition: opacity .75s ease, -webkit-box-shadow .25s ease;
  transition: opacity .75s ease, box-shadow .25s ease;
  transition: opacity .75s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
  -webkit-animation: slide-in .75s forwards;
          animation: slide-in .75s forwards;
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media only screen and (max-width: 780px) {
  #timelineContainer .eventContainer .card.fade-in {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

#timelineContainer .eventContainer .cardYear {
  position: absolute;
  width: 75px;
  height: 75px;
  top: -15px;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  color: white;
  border: 4px solid white;
  border-radius: 50%;
  background-color: #010101;
}

#timelineContainer .eventContainer .cardYear.yearRight {
  right: -101px;
}

#timelineContainer .eventContainer .cardYear.yearLeft {
  left: -101px;
}

@media only screen and (max-width: 780px) {
  #timelineContainer .eventContainer .cardYear.yearRight, #timelineContainer .eventContainer .cardYear.yearLeft {
    margin-left: auto;
    margin-right: auto;
    left: 8px;
    right: 0;
    top: -100px;
  }
}

#timelineContainer .eventContainer .cardYear p {
  font-family: "Roboto Slab";
  font-size: 26px;
  line-height: 67px;
  margin: 0 2px 0 0;
}

#timelineContainer .eventContainer .card-content {
  padding: 0;
}

#timelineContainer .eventContainer .card-content .card-title {
  position: relative;
  background-color: #3E50B4;
  font-family: "Roboto Slab";
  padding: 5px;
  margin: 0;
  text-align: center;
  color: white;
}

#timelineContainer .eventContainer .card-content .cardText {
  padding: 5px;
}

#timelineContainer .eventContainer .card-content .cardText p {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

#timelineContainer .eventContainer .card-content .expandable {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: max-height .5s, opacity, .5s;
  transition: max-height .5s, opacity, .5s;
}

#timelineContainer .eventContainer .card-content .expandable.collapsed {
  max-height: 0;
}

#timelineContainer .eventContainer .card-content .expandable ul {
  padding-left: 40px;
}

#timelineContainer .eventContainer .card-content .expandable ul li {
  list-style-type: circle;
}

#timelineContainer .eventContainer .card-content .expandable.chart {
  opacity: 1;
}

#timelineContainer .eventContainer .card-content .expandable.chart canvas {
  margin: 10px 0 10px 0;
}

#timelineContainer .eventContainer .card-content .expandStatsButton {
  margin: 0 auto 10px 10px;
  background-color: #3E50B4;
}

#furtherReading {
  background-color: #010101;
  color: white;
  font-family: "Roboto Slab";
  text-align: center;
  width: 50%;
  margin: 50px auto 50px auto;
}

@media only screen and (max-width: 1024px) {
  #furtherReading {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  #furtherReading {
    width: 90%;
  }
}

#furtherReading p {
  font-family: "Roboto Slab";
  margin-bottom: 10px;
}

#furtherReading .links a {
  position: relative;
  color: white;
  font-family: "Roboto";
  font-weight: 300;
}

#furtherReading .links a:before, #furtherReading .links a:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #3E50B4;
}

#furtherReading .links a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#furtherReading .links a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#furtherReading .links a:hover:before, #furtherReading .links a:hover:after, #furtherReading .links a:focus:before, #furtherReading .links a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#furtherReading .links a:hover:before, #furtherReading .links a:focus:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#furtherReading .links a:hover:after, #furtherReading .links a:focus:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/*# sourceMappingURL=styles.css.map */